/***********
* 网站风格样式
************/
::selection {
    background-color: #f25252;
}
a {
    text-decoration: none;
    color: #292f35;
}
a:hover {
    color: #f25252;
}
li {
    list-style: none;
}
body{
    background-color: #f3f4f5;
    font-size: 12px;
}
