/***********
* 网站风格样式
************/
::selection {
    background-color: #f2b335;
}
a {
    text-decoration: none;
    color: #494d55;
}
a:hover {
    color: #f2b335;
}
li {
    list-style: none;
}
body{
    background-color: #f3f4f5;
    font-family:"Microsoft YaHei","微软雅黑","Times New Roman",Georgia,Serif;
    font-size: 12px;
}
